@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500&display=swap');

.photo-main {
    width: 20vw;
    height: 45vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    top: 0;
}

li {
    display: inline;
    float: left;
    position: relative;
}

li a {
    font-family: 'Urbanist', sans-serif;
    color: black;
    font-size: 2vh;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

li a:hover {
    color: #007bff;
}

p {
    font-size: 2.8vh;
}

.header {
    margin: 2vh;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Urbanist', sans-serif;
    font-size: 5vh;
}

.nav-bar {
    padding-right: 8vw;
}

.main {
    display: flex;
    margin: 50px 0 0 0;
    height: 87vh;
}

.partie-gauche,
.partie-droite {
    width: 50%;
    flex-direction: column;
}

.align-end {
    align-items: end;
}

.mid {
    display: flex;
    justify-content: center;
}

.partie-droite {
    align-items: baseline;
}

.title-main {
    font-family: 'Urbanist', sans-serif;
    font-size: 4vh;
}

.partie-droite>h1,
.partie-droite>p {
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 0.2vh;

}

.photo-main {
    margin-right: 16vw;
}

.nav-bar-a {
    font-size: 2.5vh;
}

.ligne-stat {
    width: 20vw;
    height: 5vh;
}

.progress-text {
    font-family: 'Urbanist', sans-serif;
    font-size: 2.5vh;
}

.test {
    background-color: blue;
    height: 200px;
    width: 200px;
    border-radius: 32% 68% 54% 46% / 63% 67% 33% 37%;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .title {
        margin-bottom: 2vh;
    }

    .nav-bar {
        width: 100%;
        position: static;
        padding-right: 0;
    }

    li {
        float: none;
        display: block;
        text-align: center;
    }

    .main {
        flex-direction: column-reverse;
        height: auto;
        margin: 0;
    }

    .main-inverse {
        flex-direction: column;
    }

    .partie-gauche,
    .partie-droite {
        width: 100%;
        margin-left: 4vw;
    }

    .photo-main {
        width: 70vw;
        height: 50vh;
        margin-top: 6vh;
    }

    p {
        white-space: normal;
    }

    .nav-bar-a {
        font-size: 3vh;
    }

    .margin-tel {
        margin-top: 5vh;
    }

    .ligne-stat {
        width: 90vw;
        height: 5vh;
    }
}