@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;500&display=swap');

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    display: inline;
    float: left;
    position: relative;
}

li a {
    font-family: 'Urbanist', sans-serif;
    color: black;
    font-size: 2vh;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

li a:hover {
    color: #007bff;
}

header {
    margin: 2vh;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: 'Urbanist', sans-serif;
    font-size: 5vh;
}

.nav-bar {
    padding-right: 8vw;
}

.main {
    display: flex;
    margin: 30px;
}

.partie-gauche-image,
.partie-droite-description {
    width: 50%;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
}